* {
   margin: 0;
  padding: 0; 
}
 
body {
  font-family: Arial, sans-serif;
  padding: 20px;
  text-align: center;
}

input {
  padding: 8px;
  width: 250px;
}

button {
  padding: 8px 12px;
  margin-left: 5px;
  cursor: pointer;
}

h1 {
  margin-bottom: 15px;
}

li {
  margin-top: 15px;
  list-style: none;
  background-color: whitesmoke;
}